.grid-row {
  width: 100%;
  height: 300px;
}

.grid-cell {
  width: 30%;
  height: 100%;
  float: left;
  height: 100%;
  border: 2px solid black;
}

.hiddenX p, .hiddenO p {
  font-size: 8em;
  text-align: center;
  padding-bottom: 20px;
  /*display: none;*/
}
